{{ define "extra-head" }}
    <link rel="stylesheet" href="/public/css/highlight/default.css">
    <script src="/public/js/jquery.sticky.js"></script>
    <script src="/public/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
        #doc-menu {
            height: calc(100vh);
            overflow: scroll
        }
        #doc-menu ul {
            padding-left: 20px;
        }
    </style>
{{ end }}

{{ define "content" }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-sm-4">
                <div id="doc-menu" class="pb-5">
                    {{ block "markdown-menu" . }}{{ end }}
                </div>
            </div>
            <div class="col-lg-10 col-sm-8">
                {{ block "markdown" . }}{{ end }}
            </div>
        </div>
    </div>

    <script>
        $("#doc-menu").sticky({topSpacing: 0});
    </script>
{{ end }}